Package: com.nk.decrypt
Name: Decrypt++
Description:  can dump binary only
Maintainer: nk
Author: nk
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Architecture: iphoneos-arm64e
Version: 1.2
Installed-Size: 160
